---
layout: default
title: Webdienste
category: technologie
subcategory: webdienste

features_more: true
features: [ webdienste ]
---

<div class="col-xs-12">
  {% include lead_title_center.html %}
  {% include feature_list.html %}

  <div class="row narrow-row">
    <div class="lead">
      Webdienste für Grundschulen
    </div>
    <ul class="col-xs-12 feature-ul">
      <li>
      <a href="http://antolin.de" target="_blank">Antolin</a>
      <br> 
      Lernprogramm zum Thema Lesen
      </li>

      <li>
      <a href="http://www.zahlenzorro.de" target="_blank">ZahlenZorro</a>
      <br>
      Lernprogramm zum Thema Rechnen
      </li>

      <li>
      <a href="http://www.bumblebee-englisch.de" target="_blank">
        Bumblebee Englisch</a>
      <br>
      Lernprogramm für Englischgrundlagen
      </li>

      <li>
      <a href="http://www.bumblebee-englisch.de" target="_blank">
        Online-Diagnose Grundschule</a>
      <br>
      Lernprogramm für Deutsch und 
      Mathematik inkl. Analysesoftware für die Schülerförderung
      </li>
    </ul>

    <div class="spacer"></div>
    <div class="lead">
      Webdienste für die Sekundarstufe I
    </div>
    <ul class="col-xs-12 feature-ul">  
      <li>
      <a href="http://antolin.de" target="_blank">Antolin</a>
      <br>
      Lernprogramm zum Thema Lesen
      </li>

      <li>
      <a href="http://www.lerncoachies.de" target="_blank">LernCoachies</a>
      <br>
      Lernprogramm für Cornelsen-Lehrbücher
      </li>

      <li>
      <a href="http://klett.de/ebook" target="_blank">
        Klett Digitale Materialien</a>
      <br>
      Der Digitale Unterrichtsassistent &amp; Das Digitale Schulbuch
      </li>
    </ul>

  </div>
</div>



