<div class="sitemap clearfix">
  {% include sitemap_list.html id = 'kurzuebersicht' %}
  {% include sitemap_list.html id = 'technologie' %}

  <div class="col-xs-12 col-sm-6">
    <small>
      Quellen:
      <br>
      <a href="http://www.flickr.com/photos/kewl/8475764430/">
        Bild von Tristan Schmurr</a>, 
      <a href="http://creativecommons.org/licenses/by/2.0/deed.en">
        CC-BY 2.0</a>
      <br>
      <a href="http://www.flickr.com/photos/vancouverfilmschool/5843672628/">
        Bild von Vancouver Film School</a>, 
      <a href="http://creativecommons.org/licenses/by/2.0/deed.en">
        CC-BY 2.0</a>
      <br>
      <a href="http://www.flickr.com/photos/lupuca/8720604364/">
        Bild von Lucélia Riberio</a>,
      <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.en">
        CC-BY-SA 2.0</a>
      <br>
      <a href="http://lokeshdhakar.com/projects/lightbox2/">
        Lightbox2 von Lokesh Dhakar</a>, 
      <a href="http://creativecommons.org/licenses/by/2.5/">
        CC-BY 2.5</a>
    </small>
  </div>

</div>

